table.tugas10 {
  border: 1px solid black;
  margin: 0 auto;
  border-collapse: separate;
}

.tugas10 th {
  background-color: #aaa;
}

.tugas10 td {
  background-color: #ff773f;
}

.tugas10 .kolom-nama {
  width: 300px;
}

.tugas10 .kolom-harga,
.tugas10 .kolom-berat {
  width: 150px;
}
