.form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  margin: 0 auto 50px;
}

.form form {
  border: 0;
}

.form form > div {
  margin-bottom: 10px;
}

.form label {
  font-weight: bold;
  min-width: 100px;
  display: inline-block;
}

.form .pilihan-buah label {
  font-weight: normal;
  display: inline;
}

.form .pilihan-buah input[type="checkbox"] {
  display: inline;
  width: fit-content;
}

.form .daftar-buah {
  display: inline-block;
}

.form .pilihan-buah {
  margin: 3px 0;
}
