@import "~antd/dist/antd.dark.less";
@import "variables.less";
@import "components/index.less";

body {
  font-family: "Roboto", sans-serif;
  background-color: #191f22;
  margin-bottom: 10px;
  height: fit-content;
}

.ant-layout {
  background-color: #191f22;
}

#root {
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
}
